body {
  padding-bottom: 74px;
}

header {
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%);
  clip-path: polygon(
    50% 0%,
    100% 0%,
    100% 82.05%,
    66.3% 95.51%,
    62.22% 97.01%,
    58.26% 98.4%,
    54.12% 99.3%,
    52.12% 99.4%,
    50.12% 99.3%,
    46.19% 98.4%,
    41.98% 97.01%,
    37.75% 95.41%,
    0% 82.05%,
    0% 0%
  );
  border-radius: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 44px 100px 0 100px;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 40px;
  width: 30px;
  height: 20px;
}

.burger-menu span {
  position: absolute;
  background: #ffff;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;
}

.burger-menu:before,
.burger-menu:after {
  content: "";
  background: #ffff;
  position: absolute;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease 0s;
}

.burger-menu:after {
  bottom: 0;
}

.burger-menu.active:before {
  transform: rotate(45deg);
  top: 9px;
}

.burger-menu.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}

.burger-menu.active span {
  transform: scale(0);
}

.navigation {
  width: 460px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.navigation a:hover:before,
.navigation a:active:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s;
}

.navigation a:first-child:before {
  transform: scaleX(1);
}

.navigation a:before {
  content: " ";
  width: 35px;
  height: 3px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 100px;
  transform: scaleX(0);
}

.login {
  width: 210px;
  min-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn-login {
  width: 128px;
  height: 49px;
  border-radius: 100px;
  font-size: 0.6rem;
  line-height: 0.88rem;
}

.header-content {
  padding: 30px 0 0 100px;
  display: flex;
}

.header-content .content-left {
  padding-top: 56px;
  max-width: 603px;
}

img[alt="photographer"] {
  padding-left: 60px;
}

.header-content .content-right {
  position: relative;
}

img[alt="decoration"] {
  position: absolute;
}

img[alt="decoration"]:first-child {
  top: 106px;
  left: 549px;
}

img[alt="decoration"]:nth-child(2) {
  top: 95px;
  left: 468px;
}

img[alt="decoration"]:nth-child(3) {
  top: 700px;
  right: 490px;
}

img[alt="decoration"]:nth-child(4) {
  top: 715px;
  right: 410px;
}

.btn-transperent {
  width: 227px;
  height: 50px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  font-size: 0.72rem;
  line-height: 1.08rem;
}

.header-subtitle {
  padding: 30px 0 68px 0;
  max-width: 519px;
  color: #fff;
}

.btn-header-explore {
  font-size: 1rem;
  line-height: 1.52rem;
  width: 263px;
  height: 91px;
}

.choice {
  padding-top: 86px;
  display: flex;
  overflow: hidden;
}

.choice-content {
  padding: 50px 49px 0 100px;
  min-width: 456px;
}

.choice-title-bigger {
  font-size: 2.2rem;
  line-height: 3.28rem;
}

.choice-text {
  padding: 25px 0 60px 0;
}

.choice-slider {
  position: relative;
}

.btn-controler {
  position: absolute;
  border-radius: 50px;
  width: 68px;
  height: 68px;
  text-align: center;
  bottom: 180px;
}

.btn-controler i {
  border: solid #ffffff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  width: 2px;
  height: 2px;
  padding: 3px;
  transform: rotate(135deg);
}

.btn-controler.left {
  left: -30px;
}

.btn-controler.right {
  display: none;
}

.btn-controler.right i {
  transform: rotate(-45deg);
}

.slider-items {
  display: flex;
}

.slide {
  padding-right: 30px;
}

.customs-review {
  padding-top: 197px;
  display: flex;
}

.customs-review .content-right {
  padding-left: 68px;
  max-width: 565px;
}

.content-right h3 {
  line-height: 2.72rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.user {
  padding-top: 35px;
  display: flex;
}

.user-name {
  padding-top: 18px;
  padding-left: 33px;
}

h6 {
  padding-bottom: 10px;
}

.review.text {
  padding-top: 60px;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.32rem;
  max-width: 491px;
}

.rating {
  padding-top: 30px;
  display: inline-flex;
  flex-direction: row-reverse;
}

.rating-item {
  color: #c4c4c4;
  cursor: pointer;
  font-size: 59px;
  transition: 0.2s;
}

.rating-item:hover,
.rating-item:hover ~ .rating-item {
  color: #ffd336;
}

@media (max-width: 1439px) {
  img[alt="decoration"] {
    display: none;
  }
}

@media (max-width: 1250px) {
  .header-content .content-right {
    display: none;
  }

  header {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    padding-bottom: 50px;
  }

  .login {
    width: 170px;
  }

  .btn-login {
    width: 80px;
    height: 35px;
  }

  .header-content {
    padding-left: 0;
    justify-content: center;
  }

  .header-content .content-left {
    text-align: center;
  }

  .header-subtitle {
    margin: 0 auto;
  }

  .choice {
    flex-direction: column;
  }

  .choice-content {
    text-align: center;
    padding-left: 49px;
    padding-top: 0;
    min-width: 0;
  }

  .choice-slider {
    padding: 100px 140px;
  }

  .slide {
    max-width: 400px;
    max-height: 335px;
    padding: 0 15px 0;
  }

  .btn-controler {
    bottom: 230px;
  }

  .btn-controler.left {
    left: 80px;
  }

  .btn-controler.right {
    display: block;
    left: 1060px;
  }

  .customs-review .content-left {
    display: none;
  }

  .customs-review {
    padding-top: 0;
    justify-content: center;
  }

  .customs-review .content-right {
    padding-left: 0;
  }

  .customs-review .content-right h3 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  .menu {
    position: relative;
    padding: 44px 80px 0 40px;
  }

  .burger-menu {
    display: block;
  }

  .login {
    width: 170px;
  }

  .navigation {
    position: absolute;
    flex-direction: column;
    top: -230px;
    width: 200px;
    height: 180px;
    background-color: rgb(159, 202, 163);
    padding: 20px 0 20px 20px;
    transition: all 0.3s ease 0s;
  }

  .navigation.active {
    top: 85px;
  }

  .navigation a {
    color: #0d0e0d;
    font-size: 0.7rem;
  }

  .header-content {
    padding-right: 20px;
    padding-left: 20px;
  }

  h1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .btn-header-explore {
    width: 180px;
    height: 60px;
    font-size: 0.8rem;
  }

  .content-right h3 {
    line-height: 2rem;
    font-size: 1.6rem;
  }

  .choice-title-bigger {
    font-size: 1.8rem;
    line-height: 2.6rem;
  }

  .user img {
    padding-top: 30px;
    width: 90px;
    height: 90px;
  }

  h6 {
    font-size: 1.2rem;
  }

  .review.text {
    padding-top: 30px;
  }

  .rating-item {
    font-size: 39px;
  }

  .btn-choice-explore {
    width: 180px;
    height: 60px;
    font-size: 0.72rem;
  }
}
