header {
  background: linear-gradient(132.05deg, #428e5f -17.38%, #112120 78.4%);
  -webkit-clip-path: polygon(50% 0%, 100% 0%, 100% 82.05%, 66.3% 95.51%, 62.22% 97.01%, 58.26% 98.4%, 54.12% 99.3%, 52.12% 99.4%, 50.12% 99.3%, 46.19% 98.4%, 41.98% 97.01%, 37.75% 95.41%, 0% 82.05%, 0% 0%);
          clip-path: polygon(50% 0%, 100% 0%, 100% 82.05%, 66.3% 95.51%, 62.22% 97.01%, 58.26% 98.4%, 54.12% 99.3%, 52.12% 99.4%, 50.12% 99.3%, 46.19% 98.4%, 41.98% 97.01%, 37.75% 95.41%, 0% 82.05%, 0% 0%);
  border-radius: 50px;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 44px 100px 0 100px;
}

.burger-menu {
  display: none;
  position: absolute;
  top: 50px;
  right: 40px;
  width: 30px;
  height: 20px;
}
.burger-menu span {
  position: absolute;
  background: #fff;
  width: 100%;
  height: 2px;
  top: 9px;
  transition: all 0.3s ease 0s;
}
.burger-menu:before, .burger-menu:after {
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  transition: all 0.3s ease 0s;
}
.burger-menu:after {
  bottom: 0;
}
.burger-menu.active:before {
  transform: rotate(45deg);
  top: 9px;
}
.burger-menu.active:after {
  transform: rotate(-45deg);
  bottom: 9px;
}
.burger-menu.active span {
  transform: scale(0);
}

.navigation {
  width: 460px;
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}
.navigation a:hover:before, .navigation a:active:before {
  transform: scaleX(1);
  transform-origin: left;
  transition: transform 0.25s;
}
.navigation a:first-child:before {
  transform: scaleX(1);
}
.navigation a:before {
  content: " ";
  width: 35px;
  height: 3px;
  background-color: #fff;
  position: absolute;
  left: 0;
  top: 20px;
  border-radius: 100px;
  transform: scaleX(0);
}

.login {
  width: 210px;
  min-width: 140px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.btn-login {
  width: 128px;
  height: 49px;
  border-radius: 100px;
  font-size: 0.6rem;
  line-height: 0.88rem;
}

.header-content {
  padding: 30px 0 0 100px;
  display: flex;
}
.header-content .content-left {
  padding-top: 56px;
  max-width: 603px;
}
.header-content .content-right {
  position: relative;
}

img[alt=photographer] {
  padding-left: 60px;
}

img[alt=decoration] {
  position: absolute;
}

img[alt=decoration]:first-child {
  top: 106px;
  left: 549px;
}

img[alt=decoration]:nth-child(2) {
  top: 95px;
  left: 468px;
}

img[alt=decoration]:nth-child(3) {
  top: 700px;
  right: 490px;
}

img[alt=decoration]:nth-child(4) {
  top: 715px;
  right: 410px;
}

.btn-transparent {
  width: 227px;
  height: 50px;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 15px;
  font-size: 0.72rem;
  line-height: 1.08rem;
}

.header-subtitle {
  padding: 30px 0 68px 0;
  max-width: 519px;
  color: #fff;
}

.btn-header-explore {
  font-size: 1rem;
  line-height: 1.52rem;
  width: 263px;
  height: 91px;
}

.choice {
  padding-top: 86px;
  display: flex;
  overflow: hidden;
}

.choice-content {
  padding: 50px 49px 0 100px;
  max-width: 456px;
}

.choice-title-big {
  font-size: 2.2rem;
  line-height: 3.28rem;
}

.choice-text {
  padding: 25px 0 60px 0;
}

.choice-slider {
  position: relative;
}

.btn-controller {
  position: absolute;
  border-radius: 50px;
  width: 68px;
  height: 68px;
  text-align: center;
  bottom: 190px;
}
.btn-controller i {
  border: solid #ffffff;
  border-width: 0 4px 4px 0;
  display: inline-block;
  width: 2px;
  height: 2px;
  padding: 3px;
  transform: rotate(135deg);
}
.btn-controller.left {
  left: -30px;
}
.btn-controller.right {
  display: none;
}
.btn-controller.right i {
  transform: rotate(-45deg);
}

.slider-items {
  display: flex;
  align-items: center;
  max-width: 835px;
}
.slider-items img {
  padding-right: 30px;
  max-width: 380px;
  max-height: 456px;
}
.slider-items:first-child img, .slider-items:last-child img {
  max-width: 335px;
  max-height: 402px;
}

.customs-review {
  padding-top: 197px;
  display: flex;
}
.customs-review .content-right {
  padding-left: 68px;
  max-width: 565px;
}
.customs-review .content-right h3 {
  line-height: 2.72rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.user {
  padding-top: 35px;
  display: flex;
}

.user-name {
  padding-top: 18px;
  padding-left: 33px;
}

h6 {
  padding-bottom: 10px;
}

.text.review {
  padding-top: 60px;
  font-weight: 500;
  font-size: 0.88rem;
  line-height: 1.32rem;
  max-width: 491px;
}

.rating {
  padding-top: 30px;
  display: inline-flex;
  flex-direction: row-reverse;
}
.rating div {
  color: #c4c4c4;
  cursor: pointer;
  font-size: 59px;
  transition: 0.2s;
}
.rating div:hover {
  color: #ffd336;
}

.start-exploring {
  max-width: 1240px;
  max-height: 581px;
  padding-top: 233px;
}

.exploring-content {
  position: relative;
  text-align: center;
  background: #ffffff;
  border-radius: 60px;
  padding: 115px 0;
}
.exploring-content img:first-child {
  position: absolute;
  transform: rotate(180deg);
  left: 74px;
  bottom: 74px;
}
.exploring-content img:last-child {
  position: absolute;
  top: 74px;
  right: 74px;
}
.exploring-content h3 {
  font-size: 1.8rem;
  line-height: 2.72rem;
  padding: 0 30px;
}

.text.exploring {
  padding: 30px 30px 60px;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.subscribe {
  text-align: center;
  padding-top: 135px;
}

h2 {
  padding-bottom: 60px;
}

form {
  max-width: 800px;
  max-height: 129px;
  background: white;
  border-radius: 35px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

input {
  height: 40px;
  width: 470px;
  font-weight: 500;
  font-size: 0.96rem;
  line-height: 1.44rem;
  opacity: 0.5;
  outline: none;
  padding: 0 20px;
}

.btn-subscribe {
  width: 300px;
  height: 105px;
  margin: 12px 20px 12px 0;
}

.footer-menu {
  padding-top: 106px;
}
.footer-menu.logo {
  color: #ff7c4e;
}
.footer-menu a {
  color: #8a9693;
}
.footer-menu a:first-child:before,
.footer-menu .navigation a:hover:before,
.footer-menu .navigation a:active:before {
  background: #8a9693;
}

@media (max-width: 1439px) {
  img[alt=decoration] {
    display: none;
  }
}
@media (max-width: 1250px) {
  header {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    padding-bottom: 50px;
  }
  .login {
    width: 170px;
  }
  .btn-login {
    width: 80px;
    height: 35px;
  }
  .header-content {
    padding-left: 0;
    justify-content: center;
  }
  .header-content .content-right {
    display: none;
  }
  .header-content .content-left {
    text-align: center;
  }
  .header-subtitle {
    margin: 0 auto;
  }
  .choice {
    flex-direction: column;
  }
  .choice-content {
    text-align: center;
    padding-left: 49px;
    padding-top: 0;
    margin: 0 auto;
  }
  .choice-slider {
    padding: 80px 0;
    margin: 0 auto;
  }
  .slider-items img {
    max-width: 380px;
    max-height: 315px;
    padding-right: 15px;
  }
  .slider-items img:first-child {
    padding-left: 15px;
  }
  .slider-items img:first-child, .slider-items img:last-child {
    max-width: 340px;
    max-height: 285px;
  }
  .btn-controller {
    bottom: 220px;
    width: 48px;
    height: 48px;
  }
  .btn-controller.left {
    left: -50px;
  }
  .btn-controller.right {
    display: block;
    left: 800px;
  }
  .customs-review {
    padding-top: 0;
    justify-content: center;
  }
  .customs-review .content-left {
    display: none;
  }
  .customs-review .content-right {
    padding-left: 0;
  }
  .customs-review .content-right h3 {
    text-align: center;
  }
  input {
    padding: 0 30px 0 50px;
  }
  .btn-subscribe {
    width: 180px;
    height: 70px;
    margin: 30px 20px;
  }
}
@media (max-width: 960px) {
  .slider-items {
    max-width: 550px;
    overflow: hidden;
  }
  .slider-items img {
    max-width: 340px;
    max-height: 285px;
    padding: 0 20px;
  }
  .btn-controller {
    bottom: 200px;
    width: 37px;
    height: 37px;
  }
  .btn-controller.right {
    left: 560px;
  }
  .btn-controller i {
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    padding: 2px;
    margin-bottom: 2px;
  }
  .exploring-content img {
    display: none;
  }
  h2 {
    font-size: 1.9rem;
    line-height: 2.9rem;
  }
  input {
    padding: 0 20px 0 40px;
  }
  .btn-subscribe {
    width: 160px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .menu {
    position: relative;
    padding: 44px 80px 0 40px;
  }
  .burger-menu {
    display: block;
  }
  header .navigation {
    position: absolute;
    flex-direction: column;
    top: -230px;
    width: 200px;
    height: 180px;
    background-color: rgb(159, 202, 163);
    padding: 20px 0 20px 20px;
    transition: all 0.3s ease 0s;
  }
  header .navigation.active {
    top: 85px;
  }
  header .navigation a {
    color: #0d0e0d;
    font-size: 0.7rem;
  }
  .header-content {
    padding-right: 20px;
    padding-left: 20px;
  }
  h1 {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
  .btn-header-explore {
    width: 180px;
    height: 60px;
    font-size: 0.8rem;
  }
  .content-right h3 {
    line-height: 2rem;
    font-size: 1.6rem;
  }
  .choice-title-big {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }
  .slider-items {
    max-width: 275px;
  }
  .slider-items img {
    max-width: 325px;
    max-height: 260px;
  }
  .btn-controller.right {
    left: 275px;
  }
  .user img {
    padding-top: 30px;
    width: 90px;
    height: 90px;
  }
  h6 {
    font-size: 1.2rem;
  }
  .text.review {
    padding-top: 30px;
  }
  .rating div {
    font-size: 39px;
  }
  .btn-choice-explore {
    width: 180px;
    height: 60px;
    font-size: 0.72rem;
  }
  .start-exploring {
    padding-top: 80px;
  }
  .start-exploring.padding {
    padding: 80px 30px 0 30px;
  }
  .exploring-content {
    padding: 60px 0;
  }
  .exploring-content h3 {
    font-size: 1.32rem;
    line-height: 2rem;
  }
  .text.exploring {
    font-size: 1rem;
    line-height: 1.6rem;
  }
  .btn-exploring {
    width: 180px;
    height: 60px;
    font-size: 0.8rem;
  }
  .subscribe {
    padding: 60px 40px 0 40px;
  }
  h2 {
    font-size: 1.6rem;
    line-height: 2.2rem;
  }
  form {
    max-width: 400px;
  }
  input {
    width: 230px;
    font-size: 0.7rem;
    line-height: 1.24rem;
    padding: 0 0 0 20px;
  }
  .btn-subscribe {
    width: 110px;
    height: 40px;
    font-size: 0.52rem;
    line-height: 0.72rem;
  }
  .footer-menu {
    padding: 60px 40px 0 40px;
    justify-content: space-around;
  }
  .footer-menu a {
    color: #0f1f1c;
    opacity: 0.5;
  }
  .footer-menu a:first-child:before {
    display: none;
  }
  .footer-menu .navigation {
    flex-direction: column;
    text-align: center;
    max-width: 200px;
  }
  .footer-menu .navigation a {
    padding: 0 0 15px 0;
  }
}/*# sourceMappingURL=page.css.map */